* {            
  box-sizing: border-box;            
}           
  
html, body,            
ul, ol, li,            
h1, h2, h3, h4, h5, h6, p, div {            
  margin: 0;            
  padding: 0;            
}            
  
body {            
  font-family: "Lucida Grande";            
}            
  
a {            
  text-decoration: none;            
}            

.clear {            
  clear: left;            
}            

.container {            
  max-width: 1170px;            
  padding: 0 15px;            
  margin: 0 auto;            
}            

.top-wrapper {            
  padding: 180px 0 100px 0;            
  background-image: url("https://medias.infia.co/news/images/2019/05/23/2019-05-23-17-18-25-061993.jpg");           
  background-size: cover;            
  color: white;            
  text-align: center;            
}            

.top-wrapper h1 {                       
  font-size: 45px;            
  letter-spacing: 5px;            
  margin-bottom: 10px;            
}            

.top-wrapper p {                       
  margin-bottom: 3px;            
}            

.btn-wrapper {            
  text-align: center;            
  margin: 20px 0;            
}            

.btn-wrapper p {            
  margin: 10px 0;            
}            

.signup {            
  background-color: #239b76;            
}            

.facebook {            
  background-color: #3b5998;            
  margin-right: 10px;            
}            

.twitter {            
  background-color: #55acee;            
}            

.btn {            
  padding: 12px 24px;            
  color: white;            
  display: inline-block;            
  opacity: 0.8;            
  border-radius: 4px;            
  text-align: center;            
}            

.btn:hover {            
  opacity: 1;            
}            

.fa {            
  margin-right: 5px;            
}            

header {            
  height: 65px;            
  width: 100%;            
  background-color: rgba(34, 49, 52, 0.9);            
  position :fixed;            
  top: 0;            
  z-index: 10;            
}            

.logo {            
  width: 55px;            
  margin-top: 0px;            
}            

.header-left {            
  float: left;            
}    

.header-left h1{
  float: right;
  color: #fff;
}

.header-right {            
  float: right;            
  margin-right: -25px;            
}            

.header-right a {            
  line-height: 65px;            
  padding: 0 25px;            
  color: white;            
  display: block;            
  float: left;            
  transition: all 0.5s;            
}            

.header-right a:hover {            
  background-color: rgba(255, 255, 255, 0.3);            
}        

.newsletter{
  padding: 80px;
  color: #fff;
  background : #2f5167;
}

.newsletter h1{
  float: left;
}

.newsletter form{
  float: right;
  margin-top: 15px;
}

.newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

.buttonsubs{
  height: 38px;
  background-color: #145;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.lesson-wrapper {            
  padding-bottom: 80px;            
  padding-left: 5%;            
  padding-right: 5%;            
  background-color: #f7f7f7;            
  text-align: center;            
}            

.heading {            
  padding-top: 80px;            
  padding-bottom: 50px;            
  color: #5f5d60;            
}            

.heading h2 {            
  font-weight: normal;            
}            

.lesson {            
  float: left;            
  width: 25%;            
}            

.lesson-icon {            
  position: relative;            
}       

.lesson-icon img{
  width: 50%;
}

.lesson-icon p {            
  position: absolute;            
  top: 44%;            
  width: 100%;            
  color: white;            
}            

.txt-contents {            
  width: 80%;            
  display: inline-block;            
  margin-top: 15px;            
  font-size: 15px;            
  color: #b3aeb5;            
}            

.heading h3 {            
  font-weight: normal;            
}            

.message-wrapper {            
  border-bottom: 1px solid #eee;            
  padding-bottom: 80px;            
  text-align: center;            
}            

.message {            
  padding: 15px 40px;            
  background-color: #5dca88;            
  cursor: pointer;            
  box-shadow: 0 7px #1a7940;            
}            

.message:active {            
  position: relative;            
  top: 7px;            
  box-shadow: none;            
}            

footer{
    color: #fff;
    background-color: rgba(34, 49, 52, 0.9); 
    height: 130px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.footer-center{
    text-align: center;
    padding-top: 55px;
}

.footer-logo {
  margin: 0 auto;
  float: left;
  width: 100px;
  padding: 10px 0px 10px 0px;
}

.btn-contact{
 float: right;
 text-align: center;
 margin-top: -40px;
}

.contact-icon a{
  margin-right: 20px;
}       
           
.menu-icon{ 
  display: none; 
  color: white;            
  float: right;            
  font-size: 25px;            
  padding: 21px 0;           
}
